* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  background-color: #333333;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-app-region: drag;
}

nav p {
  font-family: sans-serif;
  font-weight: bold;
}

nav div#buttons {
  height: 16px;
}

#save-button,
#close-button {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 4px;
  -webkit-app-region: no-drag;
}

#save-button {
  background-color: #76d275;
}

#close-button {
  background-color: #f44336;
}

main {
  height: calc(100% - 36px);
  padding: 16px;
  font-size: 1.25rem;
  line-height: 1.4rem;
  font-family: sans-serif;
  outline: none;
}
